html, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --rows: 7;
    --columns: 11;
}

body {
    overflow: hidden;
}

main {
    background-color: black;
    width: 100vw;
    height: 90svh;
    overflow: scroll;
    background-image: url(image.png);
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
}

main>div {
    display: flex;
}

div>div {
    min-width: max(calc(140vw / (var(--columns))), calc(140svh / (var(--rows))));
    aspect-ratio: 1/1;
    border: 1px solid white;
}

nav {
    background-color: rgb(207, 207, 207);
}

nav:not(.active) {
    display: none;
}

.home {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected {
    border-width: 4px;
    background-image: url(explosion1.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}