html, * {
    padding: 0;
    margin: 0;
}

:root {
    --rows: 7;
    --columns: 11;
}

body {

}

main {
    background-color: black;
    width: 100vw;
    height: 90svh;
    overflow: scroll;
}

main>div {
    display: flex;
}

div>div {
    min-width: max(calc(100vw / (var(--columns) - 1)), calc(90svh / (var(--rows) - 1)));
    aspect-ratio: 1/1;
    border: 1px solid white;
}

nav {
    background-color: rgb(207, 207, 207);
}