html, * {
    padding: 0;
    margin: 0;
}

* {
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --rows: 7;
    --columns: 11;
}

body {
    overflow: hidden;
    overscroll-behavior: ;
}

main {
    background-color: black;
    width: 100vw;
    height: 90svh;
    overflow: scroll;
}

main>div {
    display: flex;
}

div>div {
    min-width: max(calc(140vw / (var(--columns))), calc(140svh / (var(--rows))));
    aspect-ratio: 1/1;
    border: 1px solid white;
}

nav {
    background-color: rgb(207, 207, 207);
}

.home {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}